:root {
  --extra-extra-light-gray: #F5F8FA;
  --extra-light-gray: #cad2d8;
  --light-gray: #AAB8C2;
  --dark-gray: #657786;
  --black: #14171A;
  --blue: #1DA1F2;

}

* {
  /* outline: 1px solid red; */
  padding: 0;
  margin: 0;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: .3fr 1fr;
  grid-template-rows: 1fr;
  grid-gap: 10px;
}

main {
  display: flex;
  flex-direction: column;
  padding: 15px;
  border: solid 1px var(--extra-light-gray);
}

.handle_input_area {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.handle_input_area svg{
  background-color: rgb(247, 247, 247);
  border: solid transparent;
  border-radius: 50px;
  fill: var(--blue);
  position: absolute;
  padding: 3px;
}
.handle_input_area input{
  margin-left: 6px;
  padding-left: 20px;
  border-bottom: solid 1px var(--extra-light-gray);
  border-top: none;
  border-left: none;
  border-right: none;
  width: 150px;
}

.handle_input_area input:focus + svg{
  transition: all 350ms;
  background-color: #dff5ff;
}

section {
  overflow: scroll;
}

label {
  display: flex;
  flex-direction: column;
}

button {
  font-size: 17px;
  font-weight: 600;
  margin-top: 15px;
  background: var(--blue);
  color: var(--extra-extra-light-gray);
  border: none;
  border-radius: 50px;
  padding: 15px;
  width: fit-content;
  margin-left: auto;
}