<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/css/styles.css">
  <title>Twitter Cleanse</title>
</head>
<body>
  <label for="twitter-handle">
    Input Twitter handle: @    <input type="text" name="" id="handle-input" placeholder="" spellcheck="false"required>

  </label>
  <button>Submit</button>
  
  <br>
  <div id="container"></div>

  <!-- Embedded Tweet Template -->
  <blockquote class="twitter-tweet"><a href="https://twitter.com/user/status/1358128747526905861"></a></blockquote> 
  <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  <script src="/static/scripts/app.js"></script>
</body>
</html>